body{
	overflow: hidden;
}
@font-face {
	font-family: bertica;
	src: url(../fonts/Bertica-Regular.ttf);

}
.container-fluid{
	background-image: url(../images/background.jpg);
	height: 100vh;
}
.col-md-2{
	padding-top: 30px;
	/*border: solid 1px red;*/
	height: 200px;
	color: white;
	font-size: 22pt;
	font-family: bertica;
	font-weight: bolder;
}
.col-md-10{
	/*border: solid 1px red;*/
	background: rgba(179,181,186,.4);
	height: 200px;
	padding-top: 15px;
	color: white;
	font-family: bertica;
	font-size: 15pt;
}
.col-md-3{
	/*border: solid 1px white;*/
	width: 300px;
	height: 500px;
}
.col-md-9{
	/*border: solid 1px white;*/
	height: 550px;
}
.col-md-4, .col-md-8{
	/*border: solid 1px white;*/
	padding-top: 8px;
	height: 80px;

}
.col-md-5{
	/*border: solid 1px white;*/
	height: 505px;
	padding-top: 50px;
}
.col-md-7{
	/*border: solid 1px white;*/
	height: 505px;
}
#social{
	background:grey;
	/*border: solid 1px white;*/
	height: 50px;
	display: inline-block;
}
.col-md-11{
	border: solid 3px red;
	margin:0 auto;
	height: 550px;
	overflow: scroll;
}
#name{
	margin: 5px;
	padding-left: 150px;
	color: white;
	font-size: 25pt;
	font-family: bertica;
	font-weight: bold;
}
#title{
	padding-left: 185px;
	color: grey;
	font-family: bertica;
	font-size: 15pt;
	font-weight: bold;
}
#headshot{
	/*background: grey;*/
	/*padding-top: 10px;*/
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	overflow: hidden;

}
#socialBanner{
	padding-top: 3px;
	display: inline-block;
	position: absolute;
	right: 200px;
	}
#email{
	display: inline-block;
	color: white;
    font-size: 12pt;
	font-weight: bold;
	font-family: bertica;
	position: absolute;
	left: 100px;
}
nav{
   
}
nav ul{
	position: absolute;
	right: 130px;
}
nav ul li{
	display: inline-block;
	list-style: none;
	color: yellow;
	font-size: 19pt;
	font-family: bertica;
	font-weight: bolder;
	/*font-style: italic;*/
	margin: 10px;
	padding-top: 10px;
}
nav ul li:hover{
	cursor: pointer;
	color: white;

}
#introHeader{
	padding-top: 15px;
	font-size: 50pt;
	font-family: bertica;
	font-weight: bolder;
	letter-spacing: 5px;
	color: white;
	display: none;
}
#introContent{
	padding: 5px;
	width: 600px;
	height:400px;
	color: white;
	font-size: 15pt;
	font-family: bertica;
	overflow: scroll;
	display: none;
}
#aboutContent{
	padding-top: 0px;
	border: solid 2px rgba(173,52,0,1);
	background: grey;
	width: 800px;
	height: 400px;
	display: none;
}
#aboutText{
	padding:10px;
	text-align: center;
	font-family: bertica;
	font-size: 15pt;
	color: white;
}
#aboutSocial{
	padding-top: 3px;
	position: relative;
	top: 0px;
	width: 797px;
	height:40px;
	background: rgba(173,52,0,1);
	text-align: left;
	font-family: bertica;
	font-size: 15pt;
	font-weight: bolder;
	color: white;
}
#name a {
	text-decoration: none;
	color: white;
}
#resumeHeader{
	margin-left: 500px;
	/*border: solid 1px red;*/
	width: 100%;
	height: 100px;
	text-align: center;
	color: white;
	font-size: 25pt;
	font-family: bertica;
	font-weight: bolder;

}
#resumeBody{
	/*border: solid 1px white;*/
	height: 200px;
}
#resumeContent{
	display: none;
}
#projectBody{
	border: solid 1px white;
	height: 450px;
	overflow: scroll;
}
#galleryLayout{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#galleryLayout2{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#galleryLayout3{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#galleryLayout4{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#galleryLayout5{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#galleryLayout6{
	/*border: solid 1px white;*/
	height: 225px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#description{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#description2{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#description3{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#description4{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#description5{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#description6{
	background: rgba(0,0,0,.6);
	/*border: solid 1px white;*/
	text-align: center;
	color: white;
	padding-top: 70px;
	width: 415px;
	height: 225px;
	display: none;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}
#projectFooter{
	height: 100px;
	background: rgba(179,181,186,.4);
	color: white;
	padding-top: 15px;
	text-align: center;
	font-family: bertica;
	font-size: 15pt;
	font-style: italic;
	font-weight: bolder;
	display: none;
}
#contactSection{
	/*border: solid 1px white;*/
	height: 550px;
	color: white;
}
#contactHalf1{
    background: rgba(179,181,186,.4);
	/*border: solid 1px white;*/
	height: 450px;
	font-size: 40pt;
	font-family: bertica;
	font-weight: bolder;
	text-align: center;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 15px;
}
#contactHalf2{
	/*border: solid 1px white;*/
	height: 450px;
	display: none;

}
#contactInfo{
	
	font-size: 20pt;
	font-family: bertica;
	text-align: center;
	color: white;
}
#infoColor{
	background: rgba(179,181,186,.2);
	color: white;
}
#buttonPlace{
	position: absolute;
	right: 17px;
}

/*#desktop_hello{ display:block;}
#mobile_hello{ display:none;}*/

@media only screen and (min-width: 320px) and (max-width: 568px) {


	 html, body{
	 	overflow: hidden;
	 }

	 .container-fluid { 
	 	background-image: url(../images/background.jpg);
	 	height: 650px;
	 	
      }
      nav{
     
     }
     nav ul{

     	position: absolute;
		right:0px;
     	/*border:solid 1px green;*/
     }
     nav ul li{
     	width: 100px;
     	text-align: center;
        display: block;
	    background: grey;
	    list-style: none;
	    color: red;
	    font-size: 8pt;
	    font-family: bertica;
	    font-style: italic;
	    padding-left: 0px;
     }
     nav ul li:hover{
	   cursor: pointer;
	   color: white;

     }
     .col-md-4{
        /*border: solid 1px white;*/
	    height: 50px;
	    text-align: left;
	    float: left;
     }
     .col-md-8 {
	    /*border: solid 1px white;*/
	    height: 150px;
	    width: 140px;
	    float:left;
     }
     .col-md-5{
	    /*border: solid 1px white;*/
	    width: 110px;
	    height: 100px;
	    padding-top: 10px;
	    position: absolute;
	    top: 55px;
	    left: 0px;

     }
     .col-md-7{
	     /*border: solid 1px white;*/
	     width: 200px;
	     height: 130px;
	     display: inline-block;
	    float: left;
     }
     #name{
	    padding-left: 0px;
	    color: white;
	    font-size: 10pt;
	    font-family: bertica;
	    font-weight: bold;
	    /*border:solid 1px red;*/
     }
     #title{
	    padding-left: 25px;
	    text-align: left;	    
	    color: grey;
	    font-family: bertica;
	    font-size: 10pt;
	    font-weight: bold;
	    position: absolute;
	    left: 0px;
     }
    #headshot{
	    width: 80px;
	    height: 80px;
	    border-radius: 40px;
	    overflow: hidden;
     }
     #social{
     	margin-left: 10px;
     	text-align: left;
     	padding-left: 0px;
	    background:rgba(173,52,0,1);
	    /*border: solid 1px white;*/
	    height: 35px;
	    width: 300px;
	    display:inline-block;
	    float: left;
     }
     #socialBanner{
     	/*border: solid 1px white;*/
     	margin-top: 0px;
     	width: 100px;
     	height: 30px;
	    padding-top: 0px;
	    display: block;
	    float: right;
	    /*position:absolute;
	    bottom: 0px;
	    left: 0px;*/
	 }
     #email{
	    /*border: solid 1px white;*/
	    width: 80%;
	    color: white;
        font-size: 6pt;
	    font-weight: bold;
	    font-family: bertica;
	    float: left;
	    /*position: relative;
	    top: 0px;
	    left: 0px;*/
     }
     #email img{
     	width: 10%;
     }
     #introHeader{
	    padding-top: 5px;
	    font-size: 10pt;
	    font-family: bertica;
	    font-weight: bolder;
	    letter-spacing: 0px;
	    color: white;

     }
    #introContent{
    	/*border: solid 1px red;*/
        padding-top: 5px;
	    width: 175px;
	    height:125px;
	    color: white;
	    font-size: 7pt;
	    font-family: bertica;
     }
     .col-md-3{
     	border: solid 1px white;
     	width: 100px;
     	height: 100px;
     	overflow: hidden;
     	position: absolute;
     	top: 50px;
     	left: 15px;

     }
     .col-md-9{
     	height: 300px;
     	float: left;

     }
     #aboutContent{
	    padding-top: 5px;
	    border: solid 2px rgba(173,52,0,1);
	    background: grey;
	    width: 300px;
	    height: 200px;
	    text-align: center;
	    font-family: bertica;
	    font-size: 7pt;
	    color: white;
	    display: none;
	    float: right;
      }
      #aboutSocial{
	    position: relative;
	    top: 0px;
	    width: 297px;
	    height:25px;
	    background: rgba(173,52,0,1);
	    text-align: left;
      }
      .col-md-11{
	     border: solid 1px red;
	     margin:0 auto;
	     height: 250px;
	     overflow: scroll;
     }
      #resumeHeader{
	    margin-left: 165px;
	    /*border: solid 1px red;*/
	    width: 100%;
	    height: 25px;
	    text-align: center;
	    color: white;
	    font-size: 10pt;
	    font-family: bertica;
	    font-weight: bolder;

     }
      #resumeBody{
	     /*border: solid 1px white;*/
	     height: 50px;
     }
      #resumeContent{
	     display: none;
     }
     .col-md-2{
	    padding-top: 5px;
	    /*border: solid 1px red;*/
	    
	    height: 40px;
	    color: white;
	    font-size: 10pt;
	    font-family: bertica;
	    font-weight: bolder;
	    float: left;
     }
     .col-md-10{
	    /*border: solid 1px red;*/
	    background: rgba(179,181,186,.4);

	    height: 100px;
	    padding-top: 5px;
	    color: white;
	    font-family: bertica;
	    font-size: 8pt;
	    float: right;
     }
     #projectBody{
	    /*border: solid 1px white;*/
	    height: 350px;
	    overflow: scroll;
     }
     #galleryLayout{
	    /*border: solid 1px white;*/
	    height: 225px;
     }
     #projectFooter{
	    height: 100px;
	    background: rgba(179,181,186,.4);
	    color: white;
	    text-align: center;
	    font-family: bertica;
	    font-size: 10pt;
	    font-style: italic;
	    font-weight: bold;
	    display: none;
     }
     #contactSection{
	    /*border: solid 1px white;*/
	    height: 250px;
	    color: white;
	    overflow: scroll;
     }
     #contactHalf1{
        background: rgba(179,181,186,.4);
	    /*border: solid 1px white;*/
	    height: 250px;
	    font-size: 15pt;
	    font-family: bertica;
	    font-weight: bolder;
	    text-align: center;
	    color: white;
	    border-top-left-radius: 15px;
	    border-top-right-radius: 20px;
	    border-bottom-left-radius: 20px;
	    border-bottom-right-radius: 15px;
     }
     #contactHalf2{
	    /*border: solid 1px white;*/
	    height: 250px;

     }
     #contactInfo{
	
	    font-size: 10pt;
	    font-family: bertica;
	    text-align: center;
	    color: white;
     }
     #infoColor{
    	background: rgba(179,181,186,.2);
	    color: white;
     }
     #buttonPlace{
	    position: absolute;
	    right: 17px;
     }


   /*  #desktop_hello{ display:none;}
     #mobile_hello{ display:block;}*/
  }
